/* Sticky footer styles
-------------------------------------------------- */
html {

}
body {

}

.container-fluid {
   padding: 20px !important;
}


/* ########################################################################## */
/* THE MAIN UI WINDOW CONTAINER */
/* ########################################################################## */
#mainContainer{
    animation-delay: 0.5s; /* custom animation delay */
}

/* ########################################################################## */
/* UI TEXT - MAKE THEM NOT SELECTABLE OR SELECTABLE */
/* ########################################################################## */
.logre_nonSelectableText {
  -webkit-user-select:none;
  -moz-user-select: none;
  
}

.logre_selectableText {
    -webkit-user-select:text;
    -moz-user-select: text;
}

/* ########################################################################## */
/* CUSTOM-TITLEBAR */
/* ########################################################################## */
.window-title{
    font-size: 13px !important;
}

/* ########################################################################## */
/* WINDOW BORDER - after custom-titlebar */
/* ########################################################################## */
.container-after-titlebar{
    border-left: 1px solid #171717;
    border-right: 1px solid #171717;
    border-bottom: 1px solid #171717;
}




/* ########################################################################## */
/* ROW EMPTY */
/* ########################################################################## */
.row-empty{
    height: 20px;
}




/* ########################################################################## */
/* NAV COLOR ON TABS */
/* ########################################################################## */
.nav-link{
    color: gray;
}

.nav-link:hover{
    color: #835C3B;
}

.nav-item.nav-link.active{
    color: #835C3B;
}



/* ########################################################################## */
/* TAB: HOME; */
/* ########################################################################## */
.homeService{
  margin: 10px;
  padding: 50px;
  width: 256px;
  height: 256px;
  text-align: center;
  background-image: url('../../img/trans/icon.png');
  opacity:0.7;
}

.homeService:hover{
    opacity:1.0;
}

.homeServiceIcon{
  color: #585858;
}

.homeServiceIcon:hover{
  /* color: #282828; */
}



/* ########################################################################## */
/* DATATABLES */
/* ########################################################################## */
th { font-size: 12px; }
td { font-size: 12px; }




/* ########################################################################## */
/* TAB: SYSLOG; */
/* ########################################################################## */

/* Boxes */
.boxes {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}



/* ########################################################################## */
/* BACKGROUND-COLORS */
/* ########################################################################## */
.m_blueLight {
    background-color: LightBlue;
}

.m_blueDark {
    background-color: CornflowerBlue;
}

.m_greenLight{
    background-color: LightGreen;
}

.m_greenDark{
    background-color: SeaGreen;
}

.m_yellowLight{
    background-color: LightYellow;
}

.m_yellowDark{
    background-color: Khaki;
}

.m_orangeLight{
    background-color: Coral;
}

.m_orangeDark{
    background-color: DarkOrange;
}

.m_redLight {
    background-color: IndianRed;
}

.m_redDark {
    background-color: FireBrick;
}

.m_pinkLight {
    background-color: LightPink;
}

.m_pinkDark {
    background-color: PaleVioletRed;
}

.m_gray {
    background-color: LightGray;
}
